HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven 生成的 target 目录 ###
/target/

### Maven 编译的 .class 文件 ###
**/*.class

### Maven wrapper ###
.mvn/
mvnw
mvnw.cmd

### macOS ###
.DS_Store

### Windows ###
Thumbs.db

